<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/ButtonsCtrl.js"></script>
  <script src="js/menus.js"></script>
  <script src="js/misc.js"></script>

  <!--Leaflet-->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <!--Controladores-->

</head>

<body ng-app="starter"> 

  <ion-pane>

    <ion-header-bar class="bar-dark">
      <!--Boton a la Izquierda (Capas)-->
      <button class="button button-icon" ng-controller="MenuCapasCtrl" ng-click="openModal($event)" id="boton-capas">
        <i class="icon ion-toggle"></i>
      </button>
      <!-- Titulo de la aplicacion (bar-dark lo pone en negro) -->
      <h1 class="title">Smart Campus</h1>
      <!--Boton a la derecha (Acciones)-->
      <button class="button button-icon" ng-controller="MenuAccionesCtrl" ng-click="openModal($event)" id="boton-tareas">
        <i class="icon ion-clipboard"></i>
      </button>
    </ion-header-bar>

    <ion-content data-tap-disabled="true" ng-controller="ButtonsCtrl">

      <!-- FAB Button -->
      <div class="float-button" ng-hide="mostrarBotones" ng-controller="FabCtrl" ng-click="showActionsheet()">
        <span class="height-fix">
        <a class="content">
          <button class="button button-dark button-float">
            <i class="icon ion-ios-photos-outline"></i>
          </button>
        </a>
      </span>
      </div>

      <!-- esta div contiene los tres botones de la primera pantalla -->
      <div ng-include="'templates/buttons.html'" ng-show="mostrarBotones">
      </div>
      <!--Mapa Leaflet-->
      <!-- data-tap-disabled="true" para hacer funcionar clicks el mapa-->
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>

  </ion-pane>
</body>

</html>
