<button class="button button-block button-positive" ng-click="ada()">Ada Byron</button>
<button class="button button-block button-positive" ng-click="tq()">Torres Quevedo</button>
<button class="button button-block button-positive" ng-click="betan()">Betancourt</button>

<!--Se pueden poner estas cards en lugar de los botones :)-->
<div class="card" ng-click="ada()">
  <div class="item item-divider">
    Ada Byron
  </div>
    <div class="item item-image">
    <img src="img/ada.jpg">
  </div> 
</div>
