<div class="item item-divider">
  Campus Rio Ebro
</div>
<a class="item item-thumbnail-right" ng-click="init(41.683582,-0.888826)" id="ada">
  <img src="img/ada.jpg">
  <h2>Campus Rio Ebro</h2>
  <p>Ada Byron</p>
</a>
<a class="item item-thumbnail-right" ng-click="init(41.683561,-0.887341)" id="tq">
  <img src="img/tq.jpg">
  <h2>Campus Rio Ebro</h2>
  <p>Torres Quevedo</p>
</a>
<a class="item item-thumbnail-right" ng-click="init(41.683622,-0.883977)" id="betan">
  <img src="img/betan.jpg">
  <h2>Campus Rio Ebro</h2>
  <p>Betancourt</p>
</a>
<div class="item item-divider">
  Otros campus...
</div>
