
<!--<div class="card" style="height:100%" ng-click="ada()">
<div class="item item-divider item-dark">
Ada Byron
</div>
<div class="item item-image" >
<img src="img/ada.jpg">
</div>
</div>

<div class="card" style="height:100%" ng-click="tq()">
<div class="item item-divider item-dark">
Torres Quevedo
</div>
<div class="item item-image" >
<img src="img/tq.jpg">
</div>
</div>

<div class="card" style="height:100%" ng-click="betan()">
<div class="item item-divider item-dark">
Betancourt
</div>
<div class="item item-image" >
<img src="img/betan.jpg">
</div>
</div>-->
<div class="item item-divider">
Campus Rio Ebro
</div>
<a class="item item-thumbnail-right" ng-click="ada()">
  <img src="img/ada.jpg">
  <h2>Campus Rio Ebro</h2>
  <p>Ada Byron</p>
</a>
<a class="item item-thumbnail-right" ng-click="tq()">
  <img src="img/tq.jpg">
  <h2>Campus Rio Ebro</h2>
  <p>Torres Quevedo</p>
</a>
<a class="item item-thumbnail-right" ng-click="betan()">
  <img src="img/betan.jpg">
  <h2>Campus Rio Ebro</h2>
  <p>Betancourt</p>
</a>
<div class="item item-divider">
Otros campus...  
</div>

<div class="bar bar-footer bar-stable">
  <div class="title">Selecciona Edificio</div>
</div>
