<div class="modal">
  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">Información</h1>
    <button class="button button-icon"ng-click="closeModal()">
      <i class="icon ion-close-round"></i>
    </button>
  </ion-header-bar>
  <!-- Modal content area -->
  <ion-content>
    <div class="padding">
      <div class="item item-button-right">
        Temperatura
        <div class="buttons">
          {{space.temperatura}}
        </div>
      </div>
      <div class="item item-button-right">
        Climatizador
        <div class="buttons">
          <button class="button small-button button-dark margin-right" ng-click="lessTemperature()">-</button>
          {{space.temperatura_objetivo}}
          <button class="button small-button button-dark margin-left" ng-click="moreTemperature()">+</button>
        </div>
      </div>
      <ion-toggle toggle-class="toggle-dark" ng-model="space.luz" ng-checked="space.luz">Iluminación</ion-toggle>
      <ion-toggle toggle-class="toggle-dark" ng-model="space.puertas" ng-checked="space.puertas">Puertas</ion-toggle>
      <ion-toggle toggle-class="toggle-dark" ng-model="space.presencia" ng-checked="space.presencia" ng-disabled="true">Presencia</ion-toggle>
    </div>
  </ion-content>
</div>
